<style>
		/*
		.d_cont{
		display:none;
		z-index: 100;
		position: fixed;
		top:0;
		left: 0;
		right:0;
		bottom:0;
		overflow-y: scroll;
		background: rgba(0, 0, 0, 0.8);
		}
		121 120 112
		*/

		.d_cont{
			display:none;
			z-index: 100;
			position: fixed;
			top: 0;
			left: 0;
			right:0;
			/*background: rgba(0, 0, 0, 0.9);*/
			background: rgba(240, 240, 240, 0.9);
			
		}
		
		.msg_cont{
			display:none;
			z-index: 100;
			position: fixed;
			top: 0;
			left: 0;
			right:0;
			bottom:0;
			background: rgba(0, 0, 0, 0.3);
		}

		.d_box{
				width: 100%;
				height: 1000px;
				z-index:2;
		}
		
		.msg_box{
				width: 50%;
				
				z-index:2;
				margin: 200px auto;
		}
		
		.msg_box .msg{
			width:97%;
			display: inline-block;
		}
		
		.d_close{
			position: absolute;
			right: 5%;
			cursor: pointer;
			height: 36px;
			width: 36px;
			font-size: 20px;
			font-weight: 600;
			color: #FFF;
			z-index: 2;
			border-left: solid 1px gray;
			border-bottom: solid 1px gray;
			border-right: solid 1px gray;
			text-align: center;
		}
		
		.i_close{
			cursor: pointer;
		}
		
		.centered_box {
			position: absolute;
			top: 12%;
			left: 25%;
			width: 50%;
			background-color: #FFF;
			padding: 14px;
			font-size: 15px;
			font-weight: 500;
			
			border: 4px solid rgba(210, 210, 210, 1);
			border-radius: 12px;
		}
		
		.large_width {
			width: 80%;
			left: 10%;
			top: 5%;
		}
		
		.scrolling_centered_box{
			position:absolute; 
			width: 50%; 
			left: 24%; 
			top: 10px; 
			background-color:#FFF;
			max-width: 720px;
			max-height:500px;
			overflow: auto;
		}
</style>
<script>
	$(document).ready(function(){
		$('#d_cont').click(function(e){
			//e.stopPropagation();
			if ($(e.target).attr('id') == 'd_box' || $(e.target).attr('id') == 'd_close'){
				$(this).hide();
				$('body').css('overflow-y','scroll');
				$('#d_box').html('');
				$(document).unbind('keydown');
			}
		});
		
		{# Contiene i messaggi da fornire all'utente #}
		$('#msg_cont').click(function(e){
			if ($(e.target).attr('id') == 'd_close' || $(e.target).attr('id') == 'i_close'){
				$(this).hide();
				
				$('#msg_box div.msg').html('');
				//$(document).unbind('keydown');
			}
		});
		
		$('#msg_cont_warn').click(function(e){
			if ($(e.target).attr('id') == 'd_close' || $(e.target).attr('id') == 'i_close'){
				$(this).hide();
				
				$('#msg_box_warn div.msg').html('');
			}
		});
	});
	
	function close_dialog_box(){
		$('#d_cont').hide();
		$('body').css('overflow-y','scroll');
		$('#d_box').html('');
		$(document).unbind('keydown');
	}
	
	function msgDialogWarn(dataHtml){
		if(dataHtml!=''){
			var elem = $('<div/>').html(dataHtml).contents();
			$('#msg_box_warn div.msg').html(elem);
			$('#msg_cont_warn').show();
		}
	}
	
	function close_msg_cont_warn(){
		$('#msg_cont_warn').hide();
		$('#msg_box_warn div.msg').html('');
	}
</script>

<div id="d_cont" class="d_cont">	
	<div id="d_close" class="d_close">X</div>
	<div id="d_box" class="d_box">
	</div>
</div>

<div id="msg_cont" class="msg_cont">	
	<div id="d_close" class="d_close">X</div>
	<div id="msg_box" class="alert alert-info msg_box" role="alert">
		<div class="msg"></div>
		<i id="i_close" class="fa fa-times i_close"></i>
	</div>
</div>

<div id="msg_cont_warn" class="msg_cont">	
	<div id="d_close" class="d_close">X</div>
	<div id="msg_box_warn" class="alert alert-warning msg_box" role="alert">
		<div class="msg"></div>
		<i id="i_close" class="fa fa-times i_close"></i>
	</div>
</div>

<div id="spinner_cont" style="display:none;">
	<div class="spinner">
		<div class="rect1"></div>
		<div class="rect2"></div>
		<div class="rect3"></div>
		<div class="rect4"></div>
		<div class="rect5"></div>
	</div>
</div>

