{% load i18n %}
<script>
	{# Qui ci vanno tutte le azioni js da rendere attive su tutto il portale #}
	$(document).ready(function(){

    });

</script>

{% csrf_token %}
<nav class="navbar navbar-top {#navbar-default#}" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-left">
				<li><a href="{% url 'home' %}" class="m_elem">Home</a></li>
                <li><a href="{% url 'manage_archive' %}" class="m_elem">{% trans 'Gestisci files' %}</a></li>
                <li><a href="{% url 'render_video_list' %}" class="m_elem">Lista video</a></li>
                <li><a href="{% url 'convert_video' %}" class="m_elem">Video converter</a></li>

                {% if request.user.is_staff %}
                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Funzioni backoffice <span class="caret"></span></a>
					<ul class="dropdown-menu header-dropdown-list" role="menu" aria-labelledby="dropdown-profile">
                        <li role="presentation"><a role="menuitem" tabindex="0" href="#">1</a></li>
					</ul> <!-- dropdown menu -->
				</li>
                {% endif %}

				{% if user.is_authenticated %}

				{% endif %}

			</ul>
		</div>
	</div>
</nav>