{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block 'title' %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{{settings.RES_URL}}/bootstrap/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="{{settings.RES_URL}}/flat-ui/css/flat-ui.min.css"> #}
	<link rel="stylesheet" href="{{settings.CSS_URL}}/style.css">
	{% block 'style' %}{% endblock %}

	<script type="text/javascript" src="{{settings.JS_URL}}/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{settings.JS_URL}}/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{settings.RES_URL}}/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{settings.JS_URL}}/functions.js"></script>
    {% block 'script' %}{% endblock %}
</head>
<body>
	{% include "navi.html" %}
	{% include "d_cont.html" %}
	<div class="container-fluid">
		
		{% block 'content' %}{% endblock %}	
				
	</div>
</body>
</html>