{% load i18n %}

<div class="col-sm-12 col-md-3">
    <form id="vform_{{ elem.video.pk }}">
        <input type="hidden" name="video_id" value="{{ elem.video.pk }}">
    {{ elem.vform.as_p }}
    {% if not elem.video.compressed %}
        <div>({{elem.file_size}} MB) - Compressed:{% if elem.video.compressed %} {% trans 'Si' %} {% else %} {% trans 'No' %} {% endif %}</div>
        <button class="btn btn-sm compressor_exec" fname="{{ elem.video.name }}" fpath="{{ elem.video.full_path }}">Compress [todo]</button>
    {% endif %}
    </form>
    <div>
        <button class="btn btn-sm form_save" v_id="{{ elem.video.pk }}">Salva modifiche</button>
    </div>
</div>