{% extends 'skeleton.html' %}

{% block 'script' %}
    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}

{% block 'content' %}
	{% for elem in items.video_list %}
		<div>{{elem.title}} <a href="{% url 'render_player' elem.id %}" title="{{elem.title}}">Show</a></div>
	{%endfor%}
{% endblock %}