{% extends 'skeleton.html' %}
{#http://mediaelementjs.com/#}
{% block 'style' %}
    <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
{% endblock %}

{% block 'script' %}

    <script src="http://vjs.zencdn.net/4.11/video.js"></script>
{#<script type="text/javascript" src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>#}

    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}

{% block 'content' %}

    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268" data-setup='{}'>
    <source src="rtmp://djvideo.banana/djstream/test.mp4" type='rtmp/mp4'>
{#    <source src="rtmp://djvideo.theclog.net/djstream/Robocop.mp4" type='rtmp/mp4'>#}
  </video>


	{% comment %}

	<div class="row" style="margin: auto; text-align: center; width: 100%;">
        <video id="my_video" controls="controls" autoplay preload="auto" width="800" height="600"
            {# poster="MY_VIDEO_POSTER.jpg"#} data-setup="{}">
            {# <source src="/streamer/{{ items.video.filename }}" type='video/mp4'> #}
            <source src="rtmp://djvideo.banana:1935/djstream/test.mp4" type='rtmp/mp4'>
        </video>
    </div>

    <div class="row" style="margin: auto; text-align: center; width: 100%;">
        <video id="my_video" controls="controls" autoplay preload="auto" width="800" height="600"
            {# poster="MY_VIDEO_POSTER.jpg"#} data-setup="{}">
            {# <source src="/streamer/{{ items.video.filename }}" type='video/mp4'> #}
            <source src="rtmp://djvideo.banana:1935/djstream/test.mp4" type='rtmp/mp4'>
        </video>
    </div>
	{% endcomment %}
{% endblock %}